 
  .content-Flex-Container {
    display: flex; 
    /* height: 90vh; 
    width: 90vh;  */
    flex-direction: column; 
    justify-content: space-between;   
    align-items: left; 
  }



.playlist-Table {
    background-color:  #373737;
    color: white;
    padding:50px; 
    height: 74vh; 
    width: 83.75vw;  
}


