 .top-content{
    grid-area: con-top;
    justify-content: left; 
    align-items: center; 
    background-color: red; 
 } 

.table-header {
    font-size: 40px;
    color: red;
}

.table {
    font-size: 20px;
    color: #FFF;
}

.playlist {
    background-color:  #373737;
    color: white;
}




