@import url('https://fonts.googleapis.com/css?family=Baloo');


html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; 
}

.grid-container {
  display: grid;
  grid-template-areas:
    "navBar content content content content content content content content content"
    "control control control control control control control control control control";
  grid-gap: 3px; 
  height: 100%; 
  width: 100%;
  background-color: #E37222;
}
