@import url('https://fonts.googleapis.com/css?family=Baloo');

html,
body {
  margin: 0;
  color: #E37222;
  font-family: 'Baloo', cursive;
  font-size: 20px;
}

.grid-container {
  height: 100vh;
  width: 100%; 
  background-color: #E37222;
  display: grid;
  grid-template-columns: auto 1fr; 
  grid-template-rows:  1fr auto;  
  grid-template-areas: 
    "navbar content"
    "player player"; 

  gap: 5px;
}


.navbar {
  grid-area: navbar;
  height: 100%; 
  width: auto;
  background-color: #46e61e;

  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left; 
  
} 

.content {
  grid-area: content; 
  background-color: rgb(19, 15, 235);
  /* height: 100%;
  width: 100%; */
  /* justify-content: left; */
  /* align-items: left; */
  /* padding: 25px; */
}

.player {
  grid-area: player;
  height: auto;  
  width: 100%; 
  background-color: #46b923; 
  
  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-template-areas: "left middle right";
} 

