html,
body {
 height: 100%;
 margin: 0;
}

.wrapper {
 height: 100%;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: yellow;
}

.grid-Container { 
 display: grid;
 grid-template-areas:
 "navbar content content content content content content content content content" 
 "control control control control control control control control control control";
 grid-gap: 0px;
 height: 95%;
 width: 95%;
 background-color: black;

}

.navbar {
 grid-area: navbar;
 height: 500px;
 width: 100%;
 background-color: orange;
 justify-content: left;
 align-items: left;
 padding: 10px;
}

.content-Area { 
 grid-area: content;
 height: 500px;
 width: 100%;
 background-color: grey;
 justify-content: left; 
 align-items: left;
 padding: 75px;

}

.player-Control {  
 grid-area: control;
 height: 200px;  
 width: 100%;
 background-color:red;
 justify-content: center;
 align-items: center;
 padding: 10px;
}